
$textcol : black;
$bgcol : white;

html {
    background-color: $bgcol;
    color: $textcol;
}

h1 {
    text-align: center;
}

//Nav Bar
.Nav {
    background-color: #333;
    overflow: hidden;
    width: 100%;
}

.Nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 2vh;
    width: 16.66%;
    padding: 2.5vh 0;
}

.Nav a:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

//Login
form {
    border: 3px solid #f1f1f1;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: rgb(26, 29, 26);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8; 
}

.loginform {
    padding: 16px;
}

.psw {
    float: right;
}
  
//Table

table {
    width: 100%;
    text-align: left;
}